Source: test_ros2
Section: release-13.1.2
Version: 1.0
Priority: optional
Maintainer: Serhii Vysotskyi <test@gtest.com>
Build-Depends: debhelper (>= 9)

Package: keyboard_teleop
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: Test desk to show me
Homepage:  https://github.com/serhiivysotskyi/test_ros2
